<li role="presentation" class="active">
    <a href="#search-terms" aria-controls="search-terms" role="tab" data-toggle="tab">Search Terms</a>
</li>
<li role="presentation">
    <a href="#memes" aria-controls="memes" role="tab" data-toggle="tab">Memes</a>
</li>
<li role="presentation">
    <a href="#rt-users" aria-controls="rt-users" role="tab" data-toggle="tab">RT Users</a>
</li>
<li role="presentation">
    <a href="#misc-actions" aria-controls="misc-actions" role="tab" data-toggle="tab">Misc Actions</a>
</li>