<header>
	<div class="container">
		<div class="logo">I'm logo</div>
		<nav role='navigation'>
		  <ul>
			<li><a href="/">Home</a></li>
			<li><a href="/login">Sign In</a></li>
		  </ul>
		</nav>	
	</div>
</header>