<header>
	<nav class="navbar navbar-default">
        <div class="notification-bar pull-right">
        </div>
		<div class="container-fluid">
			<div class="navbar-header">
				<ul class="nav navbar-nav">
				<% if (userName === 'Home') { %>
				<li><a class="navbar-brand" href="/">Home</a></li>
				<% } else { %>
				<li><a class="navbar-brand" href="/"><%= userName %>!</a></li>
				<% } %>
				<% if (loggedIn) { %>
				<li><a href="/logout">Logout</a></li>
				<% } else { %>
				<li><a href="/login">Login</a></li>
				<% } %>
				</ul>
			</div>
		</div><!-- /.container-fluid -->
	</nav>
</header>