    <div class="modal fade" id="hashtag-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"></h4>
          </div>
          <div class="modal-body">
            <div class="input-group">
              <span class="input-group-addon form-bold" id="basic-addon1">#</span>
              <input type="text" class="form-control input-lg" placeholder="Search Term" aria-describedby="basic-addon1">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span></span>
                <input type="number" min="5" max="100" step="5" class="form-control input-lg" placeholder="Frequency" aria-describedby="basic-addon2">
            </div>
            <div class="input-group">
                <input type="text" class="form-control input-lg js-index js-hidden">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-loading-text="Saving...">Save changes</button>
          </div>
        </div>
      </div>
    </div>