<div role="tabpanel" class="tab-pane" id="memes">
    <div class="info">
        <p>When a new person follows you, one of these memes will be tweeted to them after following them back.</p>
        <div class="controls">
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#memes-modal" data-form-title='Add Meme'>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Add meme
            </button>
        </div>
        <div class="onoffswitch js-vizi-hidden">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox active-toggle" id="memes-toggle" checked>
            <label class="onoffswitch-label" for="memes-toggle">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
    <div class="memes">
        <h2>There aren't any memes.  WTF is wrong with you?!?!</h2>
    </div>
    <div class="clearfix"></div>
</div>