<div role="tabpanel" class="tab-pane" id="memes">
    <div class="info">
        <p>Add memes for when a new person follows you.</p>
    </div>
    <div class="controls">
        <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#meme-modal" data-form-title='Add Meme' data-name="#">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add Meme
        </button>
    </div>
</div>