<div role="tabpanel" class="tab-pane" id="misc-actions">
    <div class="info">
        <div class="misc-actions">
            <div class="well well-lg">
                <p><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>&nbsp;&nbsp;Auto *like* mentions.</p>
                <div class="onoffswitch js-vizi-hidden">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox active-toggle" id="favorites-toggle" checked>
                    <label class="onoffswitch-label" for="favorites-toggle">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div class="well well-lg">
                <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;Make friendships by following a random tweeter.</p>
                <div class="onoffswitch js-vizi-hidden">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox active-toggle" id="make-friendships-toggle" checked>
                    <label class="onoffswitch-label" for="make-friendships-toggle">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            <div class="well well-lg">
                <p><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>&nbsp;&nbsp;Unfollow people that don't follow you.</p>
                <div class="onoffswitch js-vizi-hidden">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox active-toggle" id="auto-prune-toggle" checked>
                    <label class="onoffswitch-label" for="auto-prune-toggle">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>