<div role="tabpanel" class="tab-pane" id="misc-actions">
    <div class="info">
        <p>Activate/deactivate miscellaneous actions.</p>

        <ul class="actions">
            <li>Auto favorite mentions.
            <div class="onoffswitch js-vizi-hidden">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox active-toggle" id="favorites-toggle" checked>
                <label class="onoffswitch-label" for="favorites-toggle">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            </li>
            <li>Auto follow random tweeter.
            <div class="onoffswitch js-vizi-hidden">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox active-toggle" id="make-friendships-toggle" checked>
                <label class="onoffswitch-label" for="make-friendships-toggle">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            </li>
            <li>Unfollow people that don't follow you.
            <div class="onoffswitch js-vizi-hidden">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox active-toggle" id="auto-prune-toggle" checked>
                <label class="onoffswitch-label" for="auto-prune-toggle">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            </li>
        </ul>
    </div>
</div>