<div role="tabpanel" class="tab-pane" id="rt-users">
    <div class="info">
        <p>Retweet top tweets based on the user handle and frequency.</p>
        <div class="onoffswitch js-vizi-hidden">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox active-toggle" id="rt-users-toggle" checked>
            <label class="onoffswitch-label" for="rt-users-toggle">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
    </div>
</div>