/** Dashboard **/
.tweet-search {
  margin: 10px;
}

.tweet-search-text {
  margin: 10px;
}

.tweet-search-weight {
  text-align: center;
}
.glyphicon-pencil, .glyphicon-remove {
	cursor: pointer;
}
.delete {
	background-color: #FF4136;
}

/** Modals **/
.modal .input-group {
	margin-bottom: 10px;
}

/** Footer **/
footer.title {
	font-size: 250%;
}
.heart {
	color: red;
}