body {
	padding-top: 75px;
}
/** Bootsrap overrides **/
@media (max-width:767px) {
	.navbar-brand {
		margin: 0.2;
	}
}
.thumbnail {
	padding: 20px;
}
/** JS classes **/
.js-disabled {
	pointer-events: none;
}
.js-delete {
	background-color: #FF4136;
}
.js-valid {
	background-color: #d6ffd6;
	border: 1px solid #5f5;
	-moz-box-shadow: 0 0 5px rgba(0,155,0,.3);
	-webkit-box-shadow: 0 0 5px rgba(0,155,0,.3);
	box-shadow: 0 0 5px rgba(0,155,0,.3);
}
.js-invalid {
	background-color: #ffd6d6;
	border: 1px solid #f55;
	-moz-box-shadow: 0 0 5px rgba(155,0,0,.3);
	-webkit-box-shadow: 0 0 5px rgba(155,0,0,.3);
	box-shadow: 0 0 5px rgba(155,0,0,.3);
}
.js-invalid::-webkit-input-placeholder {
	color: #111111;
}
.js-invalid::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #111111;
   opacity:  1;
}
.js-invalid:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #111111;
}
.js-display-none {
	display: none !important;
}
.js-vizi-hidden {
	visibility: hidden;
}

/** Dashboard **/
.hashtags > tbody > tr:hover {
	border-left: 5px solid #000;
}
.spacer {
	margin: 10px;
}
.misc-actions .action:first-child {
	border: none;
}
.misc-actions .action {
	margin-top: 25px;
	padding-top: 25px;
	border-top: 1px #111111 dashed;
}

/** Notifications **/
.notification-bar {
	position: absolute;
	min-width: 50%;
	margin-top: 7px;
}

	/* 	TODO:
		Add media query on width so the
		notification looks good on mobile.
	*/
	.notification-bar .js-notification {
		right: 0;
		z-index: 100;
		width: 400px;
		font-size: 18px;
	}

	.notification-bar .js-off-screen {
		position: absolute;
		left: -999em;
	}
	.notification-bar .js-on-screen {
		right: 0;
	}
	.notification-bar .js-show-notification { 
		position: relative;
	}

	.notification-bar .js-undo {
		background: none;
		margin-left: 100px;
		padding: 0;
		border: none;
		
		font-size: 1em;
		cursor: pointer;
	}
		.notification-bar .js-undo .glyphicon {
			color: #FF4136;
		}

.memes .delete {
	background: none;
	border: none;
	margin: 10px;
	margin-right: 25px;
	padding: 0;

	font-size: .6em;
	color: #069;
	cursor: pointer;
}
.memes .delete:hover{
	text-decoration: underline;
}

/** Forms **/
#memes-description {
	width: 50px;
}
.glyphicon-pencil, .glyphicon-remove {
	cursor: pointer;
}
.glyphicon-remove:before {
	color: #FF4136;
}
.info {
	margin-top: 20px;
	margin-bottom: 20px;
}
.controls {
	margin-top: 30px;
	margin-bottom: 10px;
}
.inline-block {
	display: inline-block;
}
.form-bold {
	font-size: 25px;
	font-weight: bold;
}

/* https://proto.io/freebies/onoff/ */
.onoffswitch {
    position: relative; width: 115px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 20px;
    /** custom **/
    /*
    border: 2px solid #999999;
    */
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 15px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Activated";
    padding-left: 11px;
    background-color: #5CB85C; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 11px;
    background-color: #FF4136; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 36px; margin: -2.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 81px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/** Modals **/
.modal .input-group {
	margin-bottom: 10px;
}

/** Footer **/
footer.title {
	font-size: 250%;
}
.heart {
	color: red;
}