<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <% include ../partials/csrf %>
    <% include ../partials/header %>
    <main>
        <div class="jumbotron">
            <!-- App tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#search-terms" aria-controls="search-terms" role="tab" data-toggle="tab">Search Terms</a>
                </li>
                <li role="presentation">
                    <a href="#memes" aria-controls="memes" role="tab" data-toggle="tab">Memes</a>
                </li>
                <li role="presentation">
                    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">RT Users</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <% include ../partials/search-terms %>
                <% include ../partials/memes %>
                <% include ../partials/rt-users %>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <!-- Modals -->
    <% include ../partials/search-terms-modal %>

    <!-- Scripts -->
    <% include ../partials/scripts %>
    <script src='/js/main.unmin.js'></script>
</body>
</html>