<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div class="container">
        <% include ../partials/csrf %>
        <% include ../partials/navbar %>
        <main>
            <div class="container">
                <div class="jumbotron">
                    <!-- App tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <% include ../partials/app-tabs %>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <% include ../partials/search-terms %>
                        <% include ../partials/memes %>
                        <% include ../partials/rt-users %>
                        <% include ../partials/misc-actions %>
                    </div>
                </div>
            </div>
        </main>
        
        <% include ../partials/footer %>
    </div>
    <!-- Modals -->
    <% include ../partials/search-terms-modal %>
    <% include ../partials/memes-modal %>
    <!-- Scripts -->
    <% include ../partials/scripts %>
    <script src='/js/main.unmin.js'></script>
</body>
</html>
