<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <% include ../partials/csrf %>
    <% include ../partials/header %>
    <main>
        <div class="jumbotron">
            <!-- App tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <% include ../partials/app-tabs %>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <% include ../partials/search-terms %>
                <% include ../partials/memes %>
                <% include ../partials/rt-users %>
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <!-- Modals -->
    <% include ../partials/search-terms-modal %>
    <% include ../partials/memes-modal %>
    <!-- Scripts -->
    <% include ../partials/scripts %>
    <script src='/js/main.unmin.js'></script>
</body>
</html>