<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<div class="container">
		<% include ../partials/navbar %>
		<% include ../partials/footer %>
	</div>
    <% include ../partials/scripts %>
</body>
</html>