<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<div class="container">
		<% include ../partials/navbar %>

		<div class="container">
		    <footer>
		        <% include ../partials/footer %>
		    </footer>
		</div>
	</div>
    <% include ../partials/scripts %>
</body>
</html>