<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <% include ../partials/scripts %>
</body>
</html>